# Project 3-- Jonathan Contreras

**TA Help:**
    
**Collaboration:**

## Question 1

In [1]:
%%bash
# printing the head of the data
cat /anvil/projects/tdm/data/flights/subset/[12]*.csv | head

Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1987,10,14,3,741,730,912,849,PS,1451,NA,91,79,NA,23,11,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA
1987,10,15,4,729,730,903,849,PS,1451,NA,94,79,NA,14,-1,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA
1987,10,17,6,741,730,918,849,PS,1451,NA,97,79,NA,29,11,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA
1987,10,18,7,729,730,847,849,PS,1451,NA,78,79,NA,-2,-1,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA
1987,10,19,1,749,730,922,849,PS,1451,NA,93,79,NA,33,19,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA
1987,10,21,3,728,730,848,849,PS,1451,NA,80,79,NA,-1,-2,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA
1987,10,22,4,728,730,852,849,PS,1451,NA,84,79,NA,3,-2,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA
1987,10,23,5,731,730,902,849,PS,1451,NA,91,79,NA,13,1,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA
1987,10,24,6,744,730,908,849,PS,1451,NA,84,79,NA,19,14,SAN,SFO,447,NA,NA,0,NA,0,NA,NA,NA,NA,NA

In [2]:
%%bash
# extracting only the 17th and 18th fields which is the Origin and Destination
cat /anvil/projects/tdm/data/flights/subset/[12]*.csv | cut -d, -f17,18 | head

Origin,Dest
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO

In [3]:
%%bash
# sorting the data so the smae flight paths are near eachother
cat /anvil/projects/tdm/data/flights/subset/[12]*.csv | cut -d, -f17,18 | sort | head

ABE,ALB
ABE,ALB
ABE,ATL
ABE,ATL
ABE,ATL
ABE,ATL
ABE,ATL
ABE,ATL
ABE,ATL
ABE,ATL

In [4]:
%%bash
# extracting the amount of times that each flight path occurs
cat /anvil/projects/tdm/data/flights/subset/[12]*.csv | cut -d, -f17,18 | sort | uniq -c | head

      2 ABE,ALB
  15966 ABE,ATL
   1627 ABE,AVP
      1 ABE,AZO
      1 ABE,BDL
      1 ABE,BHM
   2559 ABE,BWI
   5375 ABE,CLE
   6917 ABE,CLT
   6732 ABE,CVG

In [5]:
%%bash
# nurmeriacally soring the data
cat /anvil/projects/tdm/data/flights/subset/[12]*.csv | cut -d, -f17,18 | sort | uniq -c | sort -n | head

      1 ABE,AZO
      1 ABE,BDL
      1 ABE,BHM
      1 ABE,GRR
      1 ABE,IND
      1 ABE,ROC
      1 ABE,SBN
      1 ABI,LAX
      1 ABI,TYR
      1 ABI,VCT

In [6]:
%%bash
# getting the 10 most popular flight paths
cat /anvil/projects/tdm/data/flights/subset/[12]*.csv | cut -d, -f17,18 | sort | uniq -c | sort -n | tail

 232467 LAS,PHX
 233977 PHX,LAS
 242933 MSP,ORD
 243470 ORD,MSP
 272681 LAX,PHX
 273286 PHX,LAX
 278653 LAS,LAX
 284494 LAX,LAS
 328105 LAX,SFO
 329370 SFO,LAX

Markdown notes and sentences and analysis written here.

## Question 2

In [7]:
%%bash
cat /anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv | head

BASKET_NUM              ,HSHD_NUM        ,PURCHASE_,PRODUCT_NUM                 ,     SPEND,     UNITS,STORE_R,  WEEK_NUM,YEAR
000024                  ,1809            ,03-JAN-16,5817389                     ,      -1.5,        -1,SOUTH  ,         1,2016
000024                  ,1809            ,03-JAN-16,5829886                     ,      -1.5,        -1,SOUTH  ,         1,2016
000034                  ,1253            ,03-JAN-16,0539501                     ,      2.19,         1,EAST   ,         1,2016
000060                  ,1595            ,03-JAN-16,5260099                     ,       .99,         1,WEST   ,         1,2016
000060                  ,1595            ,03-JAN-16,4535660                     ,       2.5,         2,WEST   ,         1,2016
000168                  ,3393            ,03-JAN-16,5602916                     ,       4.5,         1,SOUTH  ,         1,2016
000199                  ,4558            ,03-JAN-16,5683532                     ,      3.49,         1,SOUTH  ,         1,2016
000252                  ,3491            ,03-JAN-16,0980450                     ,      2.79,         1,SOUTH  ,         1,2016
000355                  ,4733            ,03-JAN-16,0735993                     ,         1,         1,EAST   ,         1,2016

In [8]:
%%bash
# extracting only the "STORE_R" values
cat /anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv | cut -d, -f7 | head

STORE_R
SOUTH
SOUTH
EAST
WEST
WEST
SOUTH
SOUTH
SOUTH
EAST

In [9]:
%%bash
# soring the data
cat /anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv | cut -d, -f7 | sort | head

CENTRAL
CENTRAL
CENTRAL
CENTRAL
CENTRAL
CENTRAL
CENTRAL
CENTRAL
CENTRAL
CENTRAL

In [10]:
%%bash
# getting how many times each "STORE_R" value occurs
cat /anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv | cut -d, -f7 | sort | uniq -c | head

2463343 CENTRAL
3263360 EAST
2221500 SOUTH
      1 STORE_R
2677350 WEST

In [11]:
%%bash
# numerically sorting the data
cat /anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv | cut -d, -f7 | sort | uniq -c | sort -n

      1 STORE_R
2221500 SOUTH
2463343 CENTRAL
2677350 WEST
3263360 EAST

Markdown notes and sentences and analysis written here.

## Question 3

In [21]:
%%bash
head -n1  /anvil/projects/tdm/data/election/itcont1980.txt

C00078279|A|M11|P|80031492155|22Y||MCKENNON, K R|MIDLAND|MI|00000|||10031979|400|||||CONTRIBUTION REF TO INDIVIDUAL|3062020110011466469

In [23]:
%%bash
# The 10 states in which the largest number of donations have been made (and the number of donations from each of these states)
cat /anvil/projects/tdm/data/election/itcont*.txt | cut -d'|' -f10 | sort | uniq -c | sort -n|  tail

6414418 NJ
6893225 MA
7850229 VA
7859583 WA
8102618 IL
8652168 PA
15105067 FL
15699795 NY
17604371 TX
35997458 CA

Markdown notes and sentences and analysis written here.

## Question 4

In [24]:
%%bash

# the 10 city-and-state pairs in which the largest number of donations have been made 
# (and the number of donations from each of these city-and-state pairs).
cat /anvil/projects/tdm/data/election/itcont*.txt | cut -d'|' -f9,10 | sort | uniq -c | sort -n|  tail

1370873 PHILADELPHIA|PA
1388345 BROOKLYN|NY
1424088 AUSTIN|TX
1716549 SEATTLE|WA
1941608 SAN FRANCISCO|CA
1979928 CHICAGO|IL
2274983 LOS ANGELES|CA
2332616 HOUSTON|TX
2920968 WASHINGTON|DC
5079441 NEW YORK|NY

Markdown notes and sentences and analysis written here.

## Question 5

In [28]:
%%bash
head -n1 /anvil/projects/tdm/data/flights/subset/1987.csv

Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay

In [31]:
%%bash
# the 10 dates on which the most flights occurred (and the number of flights on each of those 10 dates).
cat /anvil/projects/tdm/data/flights/subset/[12]*.csv | cut -d, -f1,2,3| sort | uniq -c | sort -n | tail

  21728 2007,8,3
  21728 2007,8,9
  21731 2007,7,26
  21733 2007,7,19
  21737 2007,7,13
  21740 2007,7,23
  21744 2007,8,10
  21748 2007,6,29
  21764 2007,7,20
  21780 2007,7,27

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.